<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}My Site{% endblock %}</title>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/jquery.datagrid/jquery.datagrid.js"></script>
        <script src="/bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>
        <link rel="stylesheet" href="/css/main.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="content">
            {% block topMenu %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>